/* moved file to dis folder for rendered output */
/* * {
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}

.sheet {
    background: linear-gradient(rgb(159, 224, 159), rgb(122, 177, 222));
    color: white;
    padding: 5px;
    margin-bottom: 2in;
}

.card {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: row;
    float: right;
    position: relative;
    border-style: solid;
    border-radius: 0px;
}
  
  .container {
    max-width: 5in;
    max-height: 5in;
    position: inherit
  }

@media screen and (max-width: 590px) {    
} */


